// INPUT
params.SRR_input = '../example/SRAlist_paired.txt'
/*
the pipeline takes as input a file.txt with a SRA accession number of each line 
or a directory that contains the SRR.fastq.gz files previously donwloaded
In the latter scenario and if the library preparation is paired end, the corresponding 
fastq files must be formatted as ID_1.fastq.gz and ID_2.fastq.gz for read1 and read2 respectivelly 
*/

// WORKFLOW PARAMETERS
params.library_preparation = 'paired' //'paired' or 'single' | it involves the following process: FASTQs_download, Trimming and Alignment_and_sorting 
params.remove_duplicates = true // true or false | if true Remove_duplicated_reads is execute

//REFERENCE FILES
params.fasta = 'reference/SARS-CoV-2-ANC.fasta'

//TOOLS SETTINGS
params.trimmomatic_setting = 'LEADING:20 TRAILING:20 SLIDINGWINDOW:4:20 MINLEN:40'
params.varscan = '--min-var-freq 0.01 --p-value 1'
params.VirMutSig_QCfilter = 'PV_THR:0.01 VAR_FREQ_THR:0.05 MIN_COV:20 ALT_READ_THR:3'

//OUTPUT DIRECTORIES
params.FASTQdir = 'intermediate/FASTQ'
params.BAMdir = 'intermediate/BAM'
params.COVERAGEdir = 'intermediate/COVERAGE'
params.VCFdir = 'intermediate/VCF'
params.VMSdir = 'VirMutSig_input_files'


process {
  withName: 'Trimming_single' {cpus = 4}
  withName: 'Trimming_paired' {cpus = 4}
  withName: 'Alignment_and_sorting_single' {cpus = 8}
  withName: 'Alignment_and_sorting_paired' {cpus = 8}
}
